.projects {
  width: 100%;
  margin-bottom: 400px;
}

.projects_container {
  display: flex;
  /* flex-direction: column;
  row-gap: 40vh; */
}
.project {
  min-width: 100vw;
  background: white;
  display: flex;
}
.project_inner-container {
  max-width: 1600px;
  width: 100%;
  height: 90vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.blackOverlay {
  position: absolute;
  display: inline-block;
  width: 0%;
  height: 100%;
  background-color: #000;
  top: 0;
  right: 0;
}
#projectBalckOverlay1,
#projectBalckOverlay2,
#projectBalckOverlay3 {
  width: 100%;
}

.textContainer {
  width: 50%;
  min-width: max-content;
  height: 90%;
  position: relative;
  display: flex;
  align-items: center;
}

.project_no {
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
}

.project_name {
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 50px;
  text-transform: capitalize;
  position: relative;
}

.project_skill {
  font-size: 30px;
  font-weight: 500;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}

.project_skill-ball {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
  margin: 0 10px;
}

.project_description {
  font-family: "Catamaran", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 48px;
  position: relative;
}

.project_type {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
}

.images_Container {
  display: flex;
  align-self: center;
  align-items: center;
  position: relative;
  width: 40%;
  height: 400px;
}

.project_img {
  width: 320px;
  height: 230px;
  position: absolute;
  /* left: 50%;
  transform: translateX(-50%); */
  outline: 5px solid #343434;
  outline-offset: 4px;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.2));
  transition: all 0.2s;
}
.project_img:hover {
  transform: scale(1.1);
  z-index: 5;
  outline-width: 8px;
  outline-offset: 10px;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.3));
}

.productImg1 {
  top: 0%;
  left: 30%;
}
.productImg2 {
  left: 45%;
  top: 50%;
}
.productImg3 {
  top: 30%;
  left: 0%;
}
