.header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_innerContainer {
  text-align: center;
  color: #000;
  position: relative;
  width: 100%;
  height: 100%;
}

.header_innerContainer-name {
  font-size: 70px;
  font-weight: 600;
  font-family: Rockybilly;
  height: 250px;
  margin-bottom: 50px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
.header_innerContainer-role {
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}
